

div.i{

  left: 400px;
}
button#bub{
  display: block;
  background-color: #afc6e2;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  position:absolute;
}

.ip{
  display: block;
  text-align: center;
}
